<% include ./partials/header %>

<div class="contain row translucentBox">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center">PPT Tool</h1>
        <hr>
        <form id="uploadForm" action="/api/upload/ppt" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">Upload Files</label>
                <input type="file" class="form-control-file" id="" name="sourceFiles" multiple accept=".pptx">
                <small class="form-text text-muted">
                    *You can upload multiple files placed in a location locally by selecting
                    multiple files while holding ctrl key.
                </small><br>
            </div>
            <div class="text-center">
                <input type="submit" id="" value="Upload Presentations" name="submit" class=" btn btn-dark btn-lg mb-1">
            </div>
            <span id="status"></span>
        </form>
        <div id="">
            <hr>
            <h3 class="text-center">Source Files</h3>
            <hr>
            <div class="row">
                <div class="col-md-6" id="sourceFile">
                    <h4>Ppt Files</h4>
                    <% files.forEach(function(file){ 
                    if(file.source == 1){%>
                    <div id="file<%= file.id %>"><a target="_blank"
                            href="/uploads/<%= file.name %>"><%= file.name.substring(14).split('.').slice(0, -1).join('.') %></a><button
                            class="ml-2 btn btn-xs btn-danger"
                            onclick="deleteSource('<%= file.name %>','<%= file.id %>');">Delete</button></div>
                    <% }
                    }); %>
                </div>
                <div class="col-md-6">
                    <h4>Excel Files</h4>
                    <% excelFiles.forEach(function(file){ 
                    if(file.source == 1){%>
                    <div id="file<%= file.id %>"><a target="_blank"
                            href="/uploads/<%= file.name %>"><%= file.name.substring(14).split('.').slice(0, -1).join('.') %></a>
                    </div>
                    <% }
                    }); %>
                </div>
            </div>
        </div>
        <button class="btn btn-sm btn-danger my-4" onclick="deleteAll()">
            Delete all uploaded sheets
        </button>
        <div id="">
            <hr>
            <h3 class="text-center">Created Files</h3>
            <hr>
            <div class="row">
                <div class="col-md-6" id="createdFile">
                    <h4>Ppt Files</h4>
                    <% files.forEach(function(file){ 
                    if(file.source == 0){%>
                    <div id="file<%= file.id %>"><a target="_blank"
                            href="/uploads/<%= file.name %>"><%= file.name.substring(14).split('.').slice(0, -1).join('.') %></a><button
                            class="ml-2 btn btn-xs btn-danger"
                            onclick="deleteSource('<%= file.name %>','<%= file.id %>');">Delete</button></div>
                    <% }
                    }); %>
                </div>
                <div class="col-md-6">
                    <h4>Excel Files</h4>
                    <% excelFiles.forEach(function(file){ 
                    if(file.source == 0){%>
                    <div id="file<%= file.id %>"><a target="_blank"
                            href="/uploads/<%= file.name %>"><%= file.name.substring(14).split('.').slice(0, -1).join('.') %></a>
                    </div>
                    <% }
                    }); %>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <label>Name of the new file</label>
            <input id="NewPptName" type="text" class="form-control" name="fileName">
        </div>
        <button class="btn btn-info mt-4 my-4" onclick="executePython()">
            Run Script
        </button>
        <button class="btn btn-danger mt-4 my-4" onclick="cleanTable()">
            Clean All
        </button>
        <a href="/tools/excel" class="btn btn-primary mt-4 my-4">Excel Tool</a>
        <a id="downloadMerged" target="_blank" class="btn btn-info my-4 d-none"">
            Download file
        </a>
    </div>
</div>
<% include ./partials/footer2 %>