<% include ./partials/header %>
<div class="container">


    <div class="row mt-5">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 mx-auto">
            <div class="card rounded-lg translucentBox mt-5">
                <div class="card-body p-0">
                    <h3 class="bg-black text-center py-2 textshadow  py-2 "> PROFILE</h3>
                    <div class="p-3">
                        <div class="d-flex">
                            <div class="d-flex flex-column">
                                <strong class="pr-3">Profile Id :</strong>
                                <strong class="pr-3">Designation :</strong>
                                <strong class="pr-3">User Name :</strong>
                                <strong class="pr-3">Office Id :</strong>
                                <strong class="pr-3">Email Address :</strong>
                                <strong class="pr-3">Phone Number :</strong>
                            </div>
                            <div class="d-flex flex-column pl-4">
                                <span class="pl-3"><%= currentUser.id %></span>
                                <span
                                    class="pl-3"><%= currentUser.designation.charAt(0).toUpperCase() + currentUser.designation.slice(1) %></span>
                                <span
                                    class="pl-3"><%= currentUser.name.charAt(0).toUpperCase() + currentUser.name.slice(1) %></span>
                                <span class="pl-3"><%= currentUser.office_id %></span>
                                <span class="pl-3"><%= currentUser.email %></span>
                                <span class="pl-3"><%= currentUser.phone_no %></span>
                            </div>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<% include ./partials/footer2 %>